@import "../../styles/variables.scss";

.main-content {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 7;
	margin: 0 auto;
}

.movie {
	&__details {
		color: white;
		display: flex;
	}

	&__poster {
		img {
			border: 3px solid $main-color;
		}
		button {
			padding: 0;
			margin: 10px 0 40px;
			width: 100%;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}

	&__info {
		margin-left: 5%;
		font-size: 1.15em;
		text-shadow: 0 2px 2px rgb(0 0 0 / 40%);

		span {
			margin-left: 10px;
		}

		h1 {
			margin-top: 0;
		}

		p {
			color: #919191;
		}
	}

	&__likes,
	&__rating {
		i {
			color: $main-color;
		}
	}

	&__rating {
		margin-top: 5px;
	}
}
